.event-cont1{
    width: 85%;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
}
.event-cont1 .no-story{
    padding-top: 3rem;
    font-weight: 600;
    font-size: 40px;
}
.event-p{ 
    width: 40%;
    margin: auto;
    margin-top: 1rem;
    font-size: 20px;
    line-height: 32px;
}
.img-cont1{
    margin-top: 2rem;
}
.event-boxes{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 2rem;
}
.event-box{
    background-color: #fff;
    width: 45%;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.date h3{
    color: #050580;
}
.nd{ 
    font-size: 11px;
}
.texts{
    text-align: left;
    width: 50%;
}
.tech{
    color: #050580;
    margin-bottom: 0.5rem;
}
.harvoxx{
    color: #F28F8F;
    font-size: 14px;
    font-weight: 500;
}
.location{
    margin-right: 0.5rem;
}
.reg{
    font-size: 15px;
    line-height: 19px;          
    margin-top: 0.5rem;   
    margin-bottom: 2rem;
}
.updates{
    height: 70vh;
    background-color: #050580;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.updates h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.updates h1{
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.updates p{
    font-size: 18px;
    margin-bottom: 3rem;
}
.update-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.update-form input{
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    padding: 20px;
    color: #fff;
    outline: none;
}
.update-form input::placeholder{
    color: #fff;
}
.update-form button{
    background: #FF24BD;
    margin-left: 2rem;
    border: 2px solid #FF24BD;
    color: #fff;
}
.past{
    background-color: #FAF2E9;
    padding: 7rem 0;
}
.past h1{
    text-align: center;
    margin-bottom: 2rem;
}
.past-events{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.past-box{
    width: 31%;
    position: relative;
}
.past-box img{
    width: 100%;
}
.event-date{
    position: absolute;
    right: 0;
    top: 12.5rem;
}
.past-h3{
    margin: 2rem 0 1rem 0;
    color: #050580;
}
.past-p{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 2rem;
}


@media screen and (max-width: 1000px) {
    .event-cont1{
        width: 80%;
        text-align: left;
        padding-bottom: 2rem;
    }
    .event-p{ 
        width: 100%;
    }
    .img-cont1 img{
        width: 100%;
    }
    .upcoming{
        font-size: 32px !important;
        width: 90%;
        margin: auto;
    }
    .event-cont2{
        width: 90%;
    }
    .event-boxes{
        flex-flow: column wrap;
    }
    .event-box{
        flex-flow: column wrap;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem 1rem 2rem 1rem;
        margin-bottom: 3rem;
    }
    .img{
        margin-top: 1rem;
    }
    .texts{
        width: 100%;
        margin-top: 1rem;
    }
    .regt{
        padding: 15px 25px !important;   
    }
    .updates{
      align-items: unset;
    }
    .updates h3{
        width: 85%;
        margin: 3rem auto 0.5rem auto;

    }
    .updates h1{
        font-size: 40px;
        width: 85%;
        margin: 0 auto 0.5rem auto;
    }
    .updates p{
        width: 85%;
        margin: 0 auto -3rem auto;
    }
    .update-form{
        display: block;
        width: 85%;
        margin: auto;
    }
    .update-form input{
        width: 100%;
        box-sizing: border-box;
       margin-bottom: 2rem;
       padding: 22px;
    }
    .update-form button{
        margin-left: 0;
        width: 89%;
        font-size: 13px;
    }
    .past-events{
        flex-direction: column;
    }
    .past-box{
        width: 100%;
        margin-bottom: 5rem;
    }
    .event-date{
        position: absolute;
        right: 0;
        top: 12.2rem;
    }

}